{% extends "layouts/root.njk" %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block breadcrumbs %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home",
                href: "/"
            }
        ]
    }) }}
{% endblock %}

{% block content_body %}
    <h1 class="govuk-heading-xl">Simple template</h1>

    <p>
        This is a template site for further development.
    </p>

{% endblock %}
