{% extends "layouts/claimant.njk" %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}

{% block breadcrumbs %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home",
                href: "/"
            },
            {
                text: "Claimant",
                href: "/claimant"
            },
            {
                text: "Welcome",
                href: "/claimant/welcome"
            }
        ]
    }) }}
{% endblock %}

{% block content_body %}
    <h1 class="govuk-heading-xl">UC CV builder</h1>

    <p class="govuk-body">
        This is a welcome page which explains to the claimant what this service is and re-confirms
        why they have been asked to create a CV.
    </p>

    {{ govukButton({
        text: "Continue",
        href: "/claimant/start",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8"
    }) }}

{% endblock %}
